<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>friendZone | Login</title>
    <link rel="shortcut icon" href="{% static 'images/friendzone2.png' %}">
    <script src="{% static 'jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Acme|Satisfy" rel="stylesheet">
    <style>
        .logo{
            border-radius:50%; 
            height:30px; 
            font-size: 25px;
        }
        .pill{
            border: 1 solid white;
            border-radius:25px;
        }
        .side{
            transform: rotateY(90deg);
        }
        .back{
            background: url("{% static 'images/friendgroup4.jpg' %}");
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="back">
        <div style="background: rgba(0,0,0,0.8)">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
                            <img src="{% static 'images/friendzone2.png' %}" alt="" class="logo">
                            <a href="" class="navbar-brand">FriendZone</a>
                            <button class="navbar-toggler" data-toggle="collapse" data-target="#mynav">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div id="mynav" class="collapse navbar-collapse">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a href="" class="nav-link">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <!-- <a href="" class="nav-link">About</a> -->
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'project:con' %}" class="nav-link">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <br/><br/><br/><br/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pt-5 text-white" >
                        <h4 class=" pt-5" style="font-family: 'Satisfy', cursive;">Connect with friends and the world around you on friendZone!!!</h4>
                        <br/>
                        <span class=" input-group" style="height:50px;">
                            <i class="far fa-images mr-4" class="input-groupprepend" style="font-size:45px;" ></i>                    
                            <strong style="line-height:30px;">See photos and updates</strong> 
                            <span style="line-height:30px;">&nbsp; from friends in News Feed.</span>
                        </span><br/>
                        <span class=" input-group" style="height:50px;">
                            <i class="fas fa-tv mr-4" class="input-groupprepend" style="font-size:45px;"></i>
                            <strong style="line-height:30px;">Share whats's new</strong>
                            <span style="line-height:30px;"> &nbsp;in your life on your Timeline.</span> 
                        </span><br/>
                        <span class=" input-group" style="height:50px;">
                            <i class="fas fa-search mr-4" class="input-groupprepend" style="font-size:45px;"></i>
                            <strong style="line-height:30px;">Find more</strong>
                            <span style="line-height:30px;"> &nbsp;of what you are looking for width friendZone Search.</span> 
                        </span><br/>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3">
                                
                            </div>
                            <div class="col-md-9 bg-white p-3" style="border-radius:2%;">
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <button id="login" class="form-control" style="border:none; background:white"><h6>Login</h6></button>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <button id="signup" class="form-control" style="border:none; background:white"><h6>Sign Up</h6></button>
                                    </div>
                                    
                                </div>
                                <form id="sign" style="display:none" method="POST">
                                    {% csrf_token %}
                                    <h5 class="text-primary">Register Now!!!</h5>
                                    <p style="color:grey">Be Cool and join today. Meet milions.</p>
                                    <div class="row">
                                        <div class="col-md-6 ">
                                            <input type="text" name="First-name" placeholder="First Name" class="form-control mb-3 pill" required>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name = "Last-name" placeholder="Last Name" class="form-control mb-3 pill">
                                        </div>
                                    </div>
                                    <p id="smsz"></p>

                                    <input type="email" name = "Email" placeholder="Your Email" onkeyup="checkusername()" class="form-control mb-3 pill" id="susername" required>
                                    
                                    <input type="password" name= "Password" placeholder="Password" required class="form-control mb-3 pill" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password should contain minimum 8 characters, including a lower-case,an upper-case and a digit character">
                                    <h5 style="color:gray;">Date of Birth</h5>
                                    <input type="date" class=" form-control pill " name = "dob" required> <br/>
                                    <!-- <h5 style="color:gray;">Gender</h5>
                                    <input type="radio" name="gender" checked>Male &nbsp;
                                    <input type="radio" name="gender" >Female &nbsp; -->
                                    <h6 class="text-primary mb-3"><a href="" >Already have an Account?</a></h6>
                                    <button class="btn btn-primary" type='submit' name='signupbtn' style="border-radius:25px;" id="submit">Register Now</button>
                                </form>
                                <form action="" method="post" id="log" >
                                    {% csrf_token %}
                                    <h4 class="text-primary mb-3">Login</h4>
                                    <h6 class="text-muted">Email</h6>
                                    <input type="email" class="form-control pill mb-3" name='Email'>
                                    <h6 class="text-muted">Password</h6>
                                    <input type="password" class="form-control pill mb-3" name='Password'>
                                    <input type="checkbox" name="rememberme" id="" class="text-right">
                                    <label for="" class="text-right">Remember Me</label>
                                    <h6 class="text-primary mb-3">
                                        <a href="" data-toggle="modal" data-target="#pass">Forgot Your Password?</a>
                                    </h6>
                                    <button class="btn btn-primary" style="border-radius:25px;width: 30%" name="loginbtn" >Login</button>
                                </form>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="modal fade " id="pass">
                                            <div class="modal-dialog modal-md" >                                           
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title">Create New Password</h3>
                                                        <span class="text-danger font-weight-bold close" data-dismiss="modal" style="font-size:30px;">&times</span>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p id="msz"></p>
                                                        <input type="email" name="Email" id="fpwd" class="form-control mb-3" placeholder="Enter Your Username" onkeyup="change_pwd()">
                                                        <input type="hidden" name="" id="genOTP">
                                                        <div class="form-group" id="otpbox" style="display:none">
                                                            <input type="text" name="" id="userotp" class="form-control mb-3" placeholder="Enter OTP"  onkeyup="matchOTP()">
                                                        </div>
                                                        <div class="form-group" id="password" style="display:none">
                                                            <input type="password" name="new" id="p" placeholder="New Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password should contain minimum 8 characters, including a lower-case,an upper-case and a digit character" onkeyup="check()" style="font-size:15px" class="form-control">
                                                            <input type="password" name="newpd" id="cp" onkeyup="check()" placeholder="Confirm Password" style="font-size:15px" class="form-control mb-3">                                                    
                                                        </div>
                                                        <div>
                                                            <input class="btn btn-primary btn-block" style="border-radius:20px" type="submit" id="change" value="Update Password" name="forgot"disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <br/><br/>
                            </div>
                        </div>
                        <div class="row"  >
                            <div class="col-md-12 hid" >
                                <br/><br/><br/><br/><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
       function checkusername(){
        uname = $('#susername').val();
  
        $.ajax({
            url:'{% url "project:check_user"%}',
            type:'get', 
            data:{username:uname},
            success:function(data){
               
                if(data==""){
                    $("#submit").removeAttr('disabled');
                    $('#smsz').removeClass('text-danger').addClass('text-success').html(data);
                }else{
                    $("#submit").attr('disabled','disabled');
                    $('#smsz').removeClass('text-success').addClass('text-danger').html(data);


                }
                
            }
        })
    }
    </script>
    <script>
        $(function(){
            $('#signup').click(function(){
                $('#log').hide();
                $('#sign').fadeIn(1000);
                $('#hid').hide();
            });
        });
        $(function(){
            $('#login').click(function(){
                $('#sign').hide();
                $('#log').fadeIn(1000);
                $('#hid').show();
            });
        });
    </script>
    {% if status %}
    <script>
        alert('{{status}}');
    </script>
    {% endif %}

    {% if msz %}
    <script>
        alert('{{msz}}');
    </script>
    {% endif %}

    <script>
        function change_pwd(){
            var x = document.getElementById("fpwd").value;
            $.ajax({
                url:"{% url 'project:forgot_password' %}",
                type:'get',
                data:{Email:x},
                success:function(data){
                    $('#msz').html(data)
                    if(data==0){
                        $('#msz').html('User With this email is not found!!'.css('color','red'));
                    }else{
                        let st = data.split('@');
                        $('#msz').html(st[0]).css('color','green');
                        $('#genOTP').val(st[1]);
                        $('#otpbox').show(1000);
                    }
                }
            })
        }
        function matchOTP(){
            let u = $('#userotp').val();
            let g = $('#genOTP').val();
            if(u==g){
                $('#password').show(500);
            }else{
                $('#password').hide(500);
            }
        }
    </script>

    <script>
        function check(){
        pw  = $('#p').val();
        cpw  = $('#cp').val();
        if(pw==cpw){
            $('#p').css('border','1px solid green');
            $('#cp').css('border','1px solid green');
            $('#change').removeAttr('disabled');
        }else{
            $('#p').css('border','1px solid red');
            $('#cp').css('border','1px solid red');
            $('#change').attr('disabled','disabled');
        }
    }
    </script>


</body>
</html>